* {
	font-family: 'open-sans', 'lato', sans-serif;
	vertical-align: middle;
	box-sizing: border-box;
}

html, body, .page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	-webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	-moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	-o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	color: #fff;
	overflow: hidden;
}

.page {
	position: absolute;
}

#p1 {
	left: 0;
}

#p2, #p3 {
	left: 200%;
}

#p1 { background: darkslateblue; }
#p2 { background: tomato; }
#p3 { background: gold; }

#conf:target #p2,
#me:target #p3 {
	transform: translateX(-190%);
	-webkit-transform: translateX(-190%);
	-moz-transform: translateX(-190%);
	-o-transform: translateX(-190%);
	transition-delay: .4s !important;
}

#conf:target #p1,
#me:target #p1 {
	background: black;
}

#conf:target #p1 .icon,
#me:target #p1 .icon {
	-webkit-filter: blur(3px);
}

.icon {
	color: #fff;
	font-size: 32px !important;
	display: block !important;
}

ul .icon:hover {
	opacity: 0.5;
}

.page .icon .title {
	line-height: 2;
}

#conf:target ul .icon,
#me:target ul .icon {
	transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	transition-delay: .25s;
}

#conf:target #dos,
#me:target #tres {
	transform: scale(1.2) !important;
	-webkit-transform: scale(1.2) !important;
	-moz-transform: scale(1.2) !important;
	-o-transform: scale(1.2) !important;
}

ul {
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	height: 280px;
	width: 10%;
	padding: 0;
	text-align: center;
}

#menu .icon {
	margin: 30px 0;
	transition: all .5s ease-out !important;
	-webkit-transition: all .5s ease-out !important;
	-moz-transition: all .5s ease-out !important;
	-o-transition: all .5s ease-out !important;
}

a {
	text-decoration: none;
}

.title {
	display: block;
	font-size: 38px;
}

.page .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 0;
	max-width: 640px;
	height: fit-content;
	margin: auto;
	text-align: center;
	font-size: 80px;
	line-height: 1.3;
	transform: translateX(360%);
	-webkit-transform: translateX(360%);
	-moz-transform: translateX(360%);
	-o-transform: translateX(360%);
	transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
	height: fit-content;
	transform: translateX(10%) !important;
}

#conf:target .page#p2 .icon,
#me:target .page#p3 .icon {
	transform: translateX(0) !important;
	-webkit-transform: translateX(0) !important;
	-moz-transform: translateX(0) !important;
	-o-transform: translateX(0) !important;
	transition-delay: 1s;
}

.container {
	display:  flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 640px;
	margin: auto;
}

.square {
	background-color: #1d1d1d;
	box-shadow: 0 0 2px #000;
	height: 16px;
	width: 16px;
	margin: 2px;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s !important;
}

.slidecontainer {
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 50%%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2B2B2B;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.checkbox {
  margin-top: 10px;
  display: inline-block;
  box-shadow: -8px -8px 15px #fff, 8px 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.chec {
  display: none;
}

.switch {
  --width: 50px;
  position: relative;
  display: flex;
  align-items: center;
  width: var(--width);
  height: 22.5px;
  outline: 2.5px solid #eaeef0;
  background-color: #fff;
  cursor: pointer;
  border-radius: inherit;
  overflow: hidden;
}

.switch::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #42abff, #ff4f8b, #ffeb3b);
  opacity: 0;
  transition: opacity .5s;
}

.switch::after {
  --size: 17.5px;
  --gap: 2.5px;
  content: "";
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  transform: translateX(var(--gap));
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: #eaeef0;
  transition: all .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.chec:checked~.switch::before {
  opacity: 1;
}

.chec:checked~.switch::after {
  --distance: calc((var(--width) - var(--size)) - var(--gap));
  content: "";
  transform: translateX(var(--distance));
}

label {
	margin-bottom: 8px;
}